<html>
  head
    block styles
    link(rel="stylesheet" type="text/css" href="./css/PageStyle.css")
    title Profile
  <body>
    div.top
      h2 Vehicle Assistant
      <ul>
        <li><a class="active" href="/home">Home</a></li>
        <li><a href="home/chatRoom">Chat Room</a></li>
        <li><a href="home/chatRoom">Sell a car</a></li>
        <li><a href='logout'>Logout</a><li>
      </ul>
    div.footer
      p &copy; 2020 Vehicle Assistant
  </body>
</html>