<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/PageStyle.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    style.
      body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
      .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
      .fa-anchor,.fa-coffee {font-size:200px}
  </head>
  <body>
    <div class="top">
      <ul>
        <li><a class="active" href="/home" style="color: black;">Home</a></li>
        <li><a href="/myCars">My Cars</a><li>
        li: a(href=`/myProfile/${user.name}`) #{user.name}
        li(style="float:right;"): a(href='/logout') Logout
      </ul>
    </div>
    
    //- <!-- Header -->
    <header class="w3-container w3-blue w3-center" style="padding:20px 16px;">
      <img src="/LogoBW.jpg" alt="Logo" style="height: 200px; width: 200px; transform: translate(0%, -10%);">
      <h1 class="w3-margin w3-jumbo" style="transform: translate(0%, -70%);">VEHICLE ASSISTANT</h1>
      <h1 style="transform: translate(0%, -100%); font-style: italic; font-weight: 500">Welcome, #{user.name} !</h1>
    </header>

    //- <!-- First Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container">
      <div class="w3-content">
        <div class="w3-twothird">
          <h1>Sell your car</h1>
          <h5 class="w3-padding-32">Profit from your old car!</h5>

          <p class="w3-text-grey" style="text-align: justify;">Having trouble in selling your old car? We have a solution to your problem. Post an ad of your car in minutes. Just fill up the required details in a form and get the base price predicted for your car. Connect with all the interested buyers in a group chat and sell your car in a go. Gain profit from your old car.</p>
          <a href="/evaluateCar" class="w3-button w3-black w3-padding-large w3-large w3-margin-top" style="text-decoration: none;">Evaluate Car</a>
        </div>

        <div class="w3-third w3-center">
          <i class="fa fa-car w3-padding-64 w3-text-blue" style="font-size: 200px"></i>
        </div>
      </div>
    </div>

    //- <!-- Second Grid -->
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
      <div class="w3-content">
        <div class="w3-third w3-center">
          <i class="fa fa-handshake-o w3-padding-64 w3-text-blue w3-margin-right" style="font-size: 200px; transform: translate(-10%, 0%);"></i>
        </div>

        <div class="w3-twothird">
          <h1>Buy a used car</h1>
          <h5 class="w3-padding-32">Used car at affordable price!</h5>

          <p class="w3-text-grey" style="text-align: justify;">If you want to own a car at affordable price, you are at the right place. Just register on our website for free and browse through all the cars ready to be sold by their owners. Click on a car you desire to buy and see the complete details of the car. Join the room of interested buyers and the owner, and place a bid to buy the car.</p>
          <a href="/usedCars" class="w3-button w3-black w3-padding-large w3-large w3-margin-top" style="text-decoration: none;">Used Cars</a>
        </div>
      </div>
    </div>

    //- <!-- Third Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container">
      <div class="w3-content">
        <div class="w3-twothird">
          <h1>Group Chat</h1>
          <h5 class="w3-padding-32">Discuss anything here!</h5>

          <p class="w3-text-grey" style="text-align: justify;">If you are interested in buying a used car from the available cars, or you wish to sell your car, you can join a room in the group chat page. Sellers get an automated room name and a date for auction when they post a car on our platform. interested buyers can join the room with the given room name on the given date. A place where all the interested buyers can place bids for the car they are interested in buying. Thus it lets buyers own a car of their choice in an affordable price and let the sellers make profit simultaneously.</p>
        </div>

        <div class="w3-third w3-center">
          <i class="fa fa-users w3-padding-64 w3-text-blue" style="font-size: 200px"></i>
        </div>
      </div>
    </div>

    //- <!-- Fourth Grid -->
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
      <div class="w3-content">
        <div class="w3-third w3-center">
          <i class="fa fa-eye w3-padding-64 w3-text-blue w3-margin-right" style="font-size: 200px; transform: translate(-10%, 0%);"></i>
        </div>

        <div class="w3-twothird">
          <h1>Drowsiness Detection</h1>
          <h5 class="w3-padding-32">Open eyes, save lives!</h5>

          <p class="w3-text-grey" style="text-align: justify;">Feeling drowsy while driving alone? Let us make your long drives safe. The 'Drowsiness Detection' feature of our website is an alarm while you drive. Just click on the 'Drive' option to enable an AI enabled detection of your drowsiness through the camera. Drive for long hours without any stress and let the camera do its job.</p>
          <a href="/drive" class="w3-button w3-black w3-padding-large w3-large w3-margin-top" style="text-decoration: none;">Drive Now</a>
        </div>
      </div>
    </div>

    //- <!-- Footer -->
    <footer class="w3-container w3-black w3-padding-64 w3-center w3-opacity">  
      <div class="w3-xlarge w3-padding-32">
        <p style="font-size: large;"> &copy; 2020 Vehicle Assistant
        <a href="https://github.com/UtkarshaAnand/VehicleAssistant" target="_blank" style="font-size: large;"><i class="fa fa-github w3-hover-opacity" style=" margin-left: 10px;"></a></i></p>
    </div>
    </footer>
  </body>
</html>

