<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/PageStyle.css">
  </head>
  <body>
    <div class="top">
      <h2>Vehicle Assistant</h2>
      <ul>
        <li><a class="active" href="/">Home</a></li>
        li: a(href="/sellCar/carDetails") Sell a car
        <li><a href="signUp">Sign Up</a></li>
        li: a(href="/drive") Drive
        <li><a href="login">Login</a></li>
      </ul>
    </div>
    <div class="dashboard-box">
        <h2>Dashboard</h2>
        <form action="/login" method="GET">
          <input class="my-btn" type="submit" name="" value="Login">
        </form>
        
        <form action="/signup" method="GET">
          <input class="my-btn" type="submit" name="" value="Signup">
        </form>
    </div>
    <div class="footer">
      <p>&copy; 2020 Vehicle Assistant</p>
    </div>
  </body>
</html>