<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/PageStyle.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
      .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
      .fa-anchor,.fa-coffee {font-size:200px}
    </style>
  </head>
  <body>
    <div class="top">
      <ul>
        <li><a class="active" href="/" style="color: black;">Home</a></li>
        <li><a href="/sellCar/carDetails">Sell a car</a>
        <li><a href="/drive">Drive</a></li>
        <li><a href="signUp">SignUp</a></li>
        <li><a href="login">Login</a></li> 
      </ul>
    </div>
    
    <!-- Header -->
    <header class="w3-container w3-blue w3-center" style="padding:128px 16px">
      <h1 class="w3-margin w3-jumbo">VEHICLE ASSISTANT</h1>
      <!-- <p class="w3-xlarge">Template by w3.css</p> -->
      <a href="signup" class="w3-button w3-black w3-padding-large w3-large w3-margin-top" style="text-decoration: none;">Get Started</a>
    </header>

    <!-- First Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container">
      <div class="w3-content">
        <div class="w3-twothird">
          <h1>Sell Your Car</h1>
          <h5 class="w3-padding-32">Profit from your old car!</h5>

          <p class="w3-text-grey">Having trouble in selling your old car? We have a solution to your problem. Post an ad of your car in minutes. Just fill up your car details in a form and get the base price 
             predicted for your car. Connect with all the interested buyers in a group chat and sell your car in a go. Gain profit from your old car.</p>
        </div>

        <div class="w3-third w3-center">
          <i class="fa fa-car w3-padding-64 w3-text-blue" style="font-size: 200px"></i>
        </div>
      </div>
    </div>

    <!-- Second Grid -->
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
      <div class="w3-content">
        <div class="w3-third w3-center">
          <i class="fa fa-eye w3-padding-64 w3-text-blue w3-margin-right" style="font-size: 200px"></i>
        </div>

        <div class="w3-twothird">
          <h1>Drowsiness Detection</h1>
          <h5 class="w3-padding-32">Open eyes, save lives!</h5>

          <p class="w3-text-grey">Feeling drowsy while driving alone? Let us make your long drives safe. The 'Drowsiness Detection'
            feature of our website is an alarm while you drive. Just click on the 'Drive' option to enable an AI enabled detection of your drowsiness through the camera.
            Drive for long hours without any stress and let the camera do its job.</p>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-black w3-padding-64 w3-center w3-opacity">  
      <div class="w3-xlarge w3-padding-32">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
    <p> &copy; 2020 Vehicle Assistant</p>
    </footer>
  </body>
</html>