<html>
  head
    block styles
    link(rel="stylesheet" type="text/css" href="/PageStyle.css")
    title Profile
  <body>
    a(href='/logout') Logout
    h2 Welcome  
      span=name
    a(class='button' style="font-size: large;" href='profile/chatRoom') Chat Room
  </body>
</html>