<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Signup</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/PageStyle.css">
    </head>
    <body>
        div.top
            h2 Vehicle Assistant
            <ul>
                <li><a href="/">Home</a></li>
                li: a(href="/sellCar/carDetails") Sell a car
                <li><a class="active" href="signUp">Sign Up</a></li>
                li: a(href="/drive") Drive
                <li><a href="login">Login</a></li>
            </ul>
        <div class="signup-box">
          <form action="/signUp" method="POST" enctype="multipart/form-data">   
            <h2>SIGNUP</h2>
            <div class="textbox">
                <input type="text" placeholder="Username" name="name" value="" autocomplete="off" required>
            </div>

            <div class="textbox">
                    <input type="text" placeholder="Email" name="email" value="" autocomplete="off" required>
            </div>

            <div class="textbox">
                <input type="text" placeholder="Contact Number" name="contact" value="" autocomplete="off" required>
            </div>

            <div class="textbox">
                <input type="password" id="pass1" placeholder="Password" name="password" value="" required>
            </div>

            <div class="textbox">
                <input type="password" id="pass2" placeholder="Confirm Password" name="password2" value="" required><br>
            </div>

            <div class="file-upload">
                <input type="file" name="photo" class="thefile"><br>
            </div>

            <input class="my-btn" type="submit" name="" value="Signup" >
          </form>
            #alert-box
                if errors
                    <div class="alert alert-danger" role="alert">
                        ul
                            each err in errors
                                li= err
                    </div>
        </div>

        div.footer
            p &copy; 2020 Vehicle Assistant
    </body>
</html>